._note {
	display: grid;
	grid-template-columns: 70px minmax(140px, auto);
	grid-template-rows: 1fr 1fr;
}

._avatar {
	grid-area: avatar;
}
._owner {
	grid-area: owner;
}
._title {
	grid-area: title;
}
._content {
	grid-area: content;
}
._likes {
	grid-area: likes;
}
._created {
	grid-area: created;
}
